/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

/* header */
header {
    background-color: #edf2f7;
    padding: 10px 0;
    text-align: center;
}

/* header */

/* main  */
.container {
    width: 60%;
    margin: 60px auto 10px;
    background-color: #edf2f7;
}

/* top box */
.top {
    padding: 15px;
    text-align: center;
}

.top input {
    padding: 5px;
    border-radius: 5px;
}

.top button {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #14aaf5;
    color: white;
}

/* top box */

/* list box  */
.list-box {
    padding: 40px;
}

.main-list>h3 {
    text-transform: uppercase;
}

.main-list>li {
    margin-bottom: 15px;
}

.inner-list {
    background-color: white;
    padding: 10px;
    margin: 5px;
}

.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: white;
    border: 1px solid black;
}

.check {
    color: green;
    border-color: green;
}

.cross {
    color: red;
    border-color: red;
}

.tag{
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}

.editorial{
    background-color: #14aaf5;
}

.recruting{
    background-color: #2cc6ab;
}

.done{
    text-decoration: line-through;
    text-decoration-color: black;
}

/* main  */